<!DOCTYPE html>
<html>
  <head>
    <title>Kitchen</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <aside id="leftcolumn">hello</aside>
    <div id="rightcolumn">
    <%= yield %>
    </div>
  </body>
</html>
